body{
    background-color: #abace3;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{
    flex: 1;
}

header{
    min-height: 50px;
    background-color: white;
}

h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
    color: #4a4a4a;
}

h2{
    font-family: sans-serif;
    font-size: 36px;
    color: #4a4a4a;
}
h3{
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    color: white;
}
p{
    font-family: sans-serif;
    color: #4a4a4a;
    font-size: 20px;
}
footer{
    min-height: 50px;
    text-align: center;
    background-color: black;
    color: white;
}

li{
    text-align: left;
    font-family: sans-serif;
    color: white;
}

a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: inherit;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 9%;
    height: 9%;
}

nav {
	padding-top: 150px;
}
#maincontent {
	margin-top: 80px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
ul {
	padding:0;
	margin:0;
}
nav ul {
	list-style: none;
	margin-bottom: 15px;
	font-weight: bold;
	font-size:20px;
}
nav ul li {
	float: left;
}
nav ul li a {
	display: block;
	width:140px;
	padding: 10px;
	text-align:center;
	text-decoration: none;
	color: #fff;
	border: 1px solid #618A37;
	margin: 5px 0px;
	border-radius: 8px;
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}
nav ul a:link, nav ul a:visited {
	background: rgba(255,255,255,0.2);
}
nav ul a:hover, nav ul a:active, nav ul a:focus {
	background: rgba(255,255,255,0.4);
}
nav ul li:hover {
	margin-top:-10px;
}
nav ul li {
	float: left;
	-webkit-transition-duration:.5s;
	-webkit-transition-property:margin-top;
	-webkit-transition-timing-function:ease-in-out;
	-o-transition-duration:.5s;
	-o-transition-property:margin-top;
	-o-transition-timing-function:ease-in-out;
	-moz-transition-duration:.5s;
	-moz-transition-property:margin-top;
	-moz-transition-timing-function:ease-in-out;
	transition-duration:.5s;
	transition-property:margin-top;
	transition-timing-function:ease-in-out;
}