body{
    background-color: #a4d6db;
}

h1{
    font-family: sans-serif;
    color: #4a4a4a;
}

h2{
    font-family: sans-serif;
    color: #4a4a4a;
}
p{
    font-family: sans-serif;
    color: #4a4a4a;
}