body{
    background-color: #a4d6db;
}

h1{
    text-align: center;
    font-family: sans-serif;
    color: #4a4a4a;
}

h2{
    font-family: sans-serif;
    color: #4a4a4a;
}
p{
    font-family: sans-serif;
    color: #4a4a4a;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
}

li{
    text-align: left;
    font-family: sans-serif;
    color: white;
}