@charset "utf-8";
/* CSS DOCUMENT */

body{
    background-color: #a8e3e6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{
    flex: 1;
	
}

header{
    min-height: 50px;
    background-color: white;
}

h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
    color: #4a4a4a;
}

h2{
    font-family: sans-serif;
    font-size: 36px;
    color: #4a4a4a;
}
h3{
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    color: white;
}
p{
    font-family: sans-serif;
    color: #4a4a4a;
	background-color: white;
    font-size: 20px;
	min-width: 200px;
	min-height: 50px;
	padding: 10px;
	margin: 20px;
}
footer{
    min-height: 50px;
    text-align: center;
    background-color: black;
    color: white;
}

li{
    text-align: left;
    font-family: sans-serif;
    color: white;
}

a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: inherit;
}

header img{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    width: 9%;
    height: 9%;
}

.image {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin: 20px;
}

.img-card {
	background-color: white;
	padding: 20px;
	width: 600px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-card img {
	width: 100%;
	height: 300px;
	display: block;
	object-fit: cover;
	margin: 0;
}

